/___UnityDropFolder/
/__UnityDropDirectory/
/Ace_Kombat/
/AmazingCurveEditor/
/BoxOfStardust/
/CaptureTools/
/CorrectCOL/
/Daeson_Heavy_Industries/
/DarianNavy/
/EnvironmentalVisualEnhancements/
/FJRTgoodies/
/FJRTMissilePack/
/FoxDefenseContracts/
/HeapPadder/
/HUDReplacer/
/JimmyTemp/
/KerbalPowers/
/KFC/
/Kopernicus/
/KSPCommunityFixes/PluginData/TextureCache/
/LoadingScreenManager/
/Parallax_StockPlanetTextures/
/Parallax_StockScatterTextures/
/Parallax_StockTerrainTextures/
/ParallaxContinued/
/Pilot Assistant/
/RetractableLiftingSurface/
/ScattererAtmosphereCache/
/Squad/
/SquadExpansion/
/StockVolumetricClouds/
/TUFX/
/TwinCrownAerospace/
/UnityExplorerKSP/
/ZTheme/
/BDArmory/Logs/
/FShangarExtender

/SmartParts/Parts/@thumbs
/ModeratelyPlaneRelated/Parts/@thumbs
/AirplanePlus/Parts/@thumbs
/ASC/Parts/@thumbs
/BDArmory/Parts/@thumbs
/Kerbaltek/Graphotron/Parts/@thumbs

/ModuleManager.ConfigCache
/ModuleManager.ConfigSHA
/ModuleManager.Physics
/ModuleManager.TechTree

#!TweakScale/patches/Squad/
#!TweakScale/patches/SquadExpansion/

#/test/
